<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="pdb1920it10" connectionString="Data Source=den1.mssql8.gear.host;
                  Initial Catalog=pdb1920it10;
                  User ID=pdb1920it10;
                  Password=Rt32~3V?9BI7" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>